<?xml version="1.0" encoding="UTF-8"?>
<Context path="/WaferDb" docBase="WaferDb.war" reloadable="false">
    <Parameter
        name="waferDbPath"
        value="/srv/waferdb/waferdb.sqlite"
        override="false" />
    <Parameter
        name="allowedOrigin"
        value="*"
        override="false" />
</Context>
